In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sn
sn.set_style('darkgrid')
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore")

In [3]:
credit=pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movie=pd.read_csv('tmdb_5000_movies.csv')

In [5]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
credit.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movie['original_language'].value_counts()

original_language
en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [8]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [9]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [10]:
credit.shape

(4803, 4)

In [11]:
movie.shape

(4803, 20)

In [12]:
movies=movie.merge(credit, on='title')

In [13]:
movie.merge(credit, on='title').shape

(4809, 23)

In [14]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
movies.isna().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [16]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [17]:
movies_copy=movies.copy()

In [18]:
movies.dropna(inplace=True)

In [19]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [20]:
# movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [21]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [22]:
movies.dropna(inplace=True)

In [23]:
movies.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [24]:
movies.duplicated().sum()

0

In [25]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [26]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
# convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [27]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [28]:
import pandas as pd
import ast

# Define the convert function with enhanced error handling
def convert(obj):
    try:
        # If the input is a string, try to parse it
        if isinstance(obj, str):
            obj = ast.literal_eval(obj)
        
        # Check if the parsed object is a list
        if isinstance(obj, list):
            # Extract 'name' if the elements are dictionaries, otherwise keep the element
            return [item['name'] if isinstance(item, dict) and 'name' in item else item for item in obj]
        else:
            print(f"Unexpected format: {obj}")
            return []
    except (ValueError, SyntaxError, KeyError, TypeError) as e:
        print(f"Error parsing input: {e}")
        return []



# Apply the convert function to the 'genres' column
movies['genres'] = movies['genres'].apply(convert)

In [29]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4779                                         [Comedy]
4787                                [Comedy, Romance]
4797                                         [Horror]
4802               [Science Fiction, Drama, Thriller]
4807                                               []
Name: genres, Length: 1494, dtype: object

In [30]:
# movies['genres']=movies['genres'].apply(convert)

In [31]:
# movies['overview']=movies['overview'].apply(convert)

In [32]:
movies['keywords']=movies['keywords'].apply(convert)

In [33]:
movies['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [34]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count != 3 :
            L.append(i['name'])
            count +=1
        else :
            break
    return L
movies['cast'].apply(convert3)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4779       [Brian O'Halloran, Jeff Anderson, Jason Mewes]
4787         [Suzi Lorraine, Jared Degado, Heather Dorff]
4797    [Michael Parle, Emma Eliza Regan, Patrick O'Do...
4802        [Shane Carruth, David Sullivan, Casey Gooden]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
Name: cast, Length: 1494, dtype: object

In [35]:
# movies['cast'].apply(convert3)

In [36]:
movies['cast']=movies['cast'].apply(convert3)

In [37]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [38]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director' :
            L.append(i['name'])
            break
       
    return L
# movies['crew'].apply(fetch_director)

In [39]:
movies['crew'].apply(fetch_director)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4779          [Kevin Smith]
4787         [Travis Legge]
4797        [Ivan Kavanagh]
4802        [Shane Carruth]
4807          [Daniel Hsia]
Name: crew, Length: 1494, dtype: object

In [40]:
movies['crew']=movies['crew'].apply(fetch_director)

In [41]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [42]:
movies['overview'].apply(lambda x : x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4779    [Convenience, and, video, store, clerks, Dante...
4787    [Sasha, tries, to, get, her, soon-to-be, ex, h...
4797    [Recently, dumped, by, his, girlfirend, for, a...
4802    [Friends/fledgling, entrepreneurs, invent, a, ...
4807    [When, ambitious, New, York, attorney, Sam, is...
Name: overview, Length: 1494, dtype: object

In [43]:
movies['overview']=movies['overview'].apply(lambda x : x.split())

In [44]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [45]:
movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4779                                        [Comedy]
4787                               [Comedy, Romance]
4797                                        [Horror]
4802               [ScienceFiction, Drama, Thriller]
4807                                              []
Name: genres, Length: 1494, dtype: object

In [46]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(' ','') for i in x])

In [47]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [48]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [49]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [50]:
df= movies[['movie_id','title','tags']]

In [51]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [52]:
df.tags.apply(lambda x : ' '.join(x))

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4779    Convenience and video store clerks Dante and R...
4787    Sasha tries to get her soon-to-be ex husband K...
4797    Recently dumped by his girlfirend for another ...
4802    Friends/fledgling entrepreneurs invent a devic...
4807    When ambitious New York attorney Sam is sent t...
Name: tags, Length: 1494, dtype: object

In [53]:
df['tags']=df.tags.apply(lambda x : ' '.join(x))

In [54]:
df.tags[0].lower()

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [55]:
df['tags']=df.tags.apply(lambda x : ' '.join(x)).lower()

AttributeError: 'Series' object has no attribute 'lower'

In [56]:
df['tags']=df.tags.apply(lambda x : ' '.join(x)).lower()

AttributeError: 'Series' object has no attribute 'lower'

In [57]:
df.tags[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [58]:
df['tags']=df.tags.apply(lambda x : x.lower())

In [59]:
df.tags[0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [61]:
vectors=cv.fit_transform(df['tags']).toarray()

In [62]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [63]:
len(cv.get_feature_names_out())

5000

In [64]:
#STEMMING AND COUNTVECTOT

In [65]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [66]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [67]:
df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4779    conveni and video store clerk dant and randal ...
4787    sasha tri to get her soon-to-b ex husband kyle...
4797    recent dump by hi girlfirend for anoth man, wo...
4802    friends/fledgl entrepreneur invent a devic in ...
4807    when ambiti new york attorney sam is sent to s...
Name: tags, Length: 1494, dtype: object

In [68]:
df['tags']=df['tags'].apply(stem)

In [69]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
similarity[0]

array([1.        , 0.08035074, 0.05437272, ..., 0.        , 0.05437272,
       0.02469324])

In [70]:
list(enumerate(similarity[0]))

[(0, 1.0000000000000002),
 (1, 0.08035073760083702),
 (2, 0.05437272478270369),
 (3, 0.035366392784487034),
 (4, 0.16671392788033934),
 (5, 0.1082870204560525),
 (6, 0.017914359097500464),
 (7, 0.15946199115053014),
 (8, 0.053567158400558014),
 (9, 0.07063224140220167),
 (10, 0.07407971974871923),
 (11, 0.0828236445561349),
 (12, 0.039668175187900966),
 (13, 0.10411584125907071),
 (14, 0.07407971974871923),
 (15, 0.13355763199075443),
 (16, 0.10253309789938275),
 (17, 0.07520444621829453),
 (18, 0.05238227218271836),
 (19, 0.08700221858486124),
 (20, 0.05437272478270369),
 (21, 0.09016696346674324),
 (22, 0.05271276298289175),
 (23, 0.15617376188860607),
 (24, 0.10874544956540738),
 (25, 0.060485837890913385),
 (26, 0.06762522260005743),
 (27, 0.15027827244457206),
 (28, 0.0850102284084451),
 (29, 0.08700221858486124),
 (30, 0.16671392788033934),
 (31, 0.07702442489446452),
 (32, 0.05723898513889476),
 (33, 0.07502344849205331),
 (34, 0.04819626927118799),
 (35, 0.13121220505220862),
 (36, 0.0),
 (37, 0.11043152607484655),
 (38, 0.03681050869161552),
 (39, 0.086629616364842),
 (40, 0.16070147520167405),
 (41, 0.061519858739629646),
 (42, 0.10874544956540738),
 (43, 0.07311502501351116),
 (44, 0.15404884978892902),
 (45, 0.04556056890015147),
 (46, 0.031234752377721216),
 (47, 0.0631037291856266),
 (48, 0.02567480829815484),
 (49, 0.07311502501351116),
 (50, 0.023544080467400558),
 (51, 0.20447945297729914),
 (52, 0.06984302957695782),
 (53, 0.028049635672660722),
 (54, 0.018938850476964256),
 (55, 0.1631181743481111),
 (56, 0.12251277836633778),
 (57, 0.04331480818242099),
 (58, 0.07502344849205331),
 (59, 0.11043152607484653),
 (60, 0.03329635791060134),
 (61, 0.2028756678001723),
 (62, 0.07063224140220167),
 (63, 0.013644964930609012),
 (64, 0.07063224140220167),
 (65, 0.0315518645928133),
 (66, 0.09323922072849748),
 (67, 0.07502344849205331),
 (68, 0.09563650695950074),
 (69, 0.07317073170731708),
 (70, 0.10874544956540738),
 (71, 0.08553989227683015),
 (72, 0.056790458868584026),
 (73, 0.1402481783633036),
 (74, 0.06099627595216836),
 (75, 0.15314097295792223),
 (76, 0.11155268706329005),
 (77, 0.08155908717405554),
 (78, 0.07317073170731708),
 (79, 0.06659271582120269),
 (80, 0.08414890701798217),
 (81, 0.0999800059980007),
 (82, 0.07870417814679402),
 (83, 0.05521576303742327),
 (84, 0.09563650695950075),
 (85, 0.03904344047215152),
 (86, 0.08064778385455118),
 (87, 0.1546041365047852),
 (88, 0.1283740414907742),
 (89, 0.046562019717971886),
 (90, 0.04373740168406954),
 (91, 0.04878048780487805),
 (92, 0.04556056890015147),
 (93, 0.05800147905657416),
 (94, 0.015539870121416248),
 (95, 0.042904232014014415),
 (96, 0.0),
 (97, 0.0828236445561349),
 (98, 0.09016696346674324),
 (99, 0.061519858739629646),
 (100, 0.09417632186960223),
 (101, 0.12378237474570462),
 (102, 0.08132836793622449),
 (103, 0.026028960314767677),
 (104, 0.10003126465607107),
 (105, 0.059502262781851445),
 (106, 0.030055654488914414),
 (107, 0.12493900951088487),
 (108, 0.0),
 (109, 0.022780284450075735),
 (110, 0.03187883565316692),
 (111, 0.07702442489446452),
 (112, 0.09760860118037878),
 (113, 0.09988907373180403),
 (114, 0.08035073760083702),
 (115, 0.05800147905657416),
 (116, 0.09563650695950075),
 (117, 0.15914876753019166),
 (118, 0.1840525434580776),
 (119, 0.05800147905657416),
 (120, 0.07520444621829453),
 (121, 0.030628194591584446),
 (122, 0.0),
 (123, 0.09370425713316365),
 (124, 0.06246950475544243),
 (125, 0.08841598196121758),
 (126, 0.047632550822954096),
 (127, 0.10529232878566533),
 (128, 0.0850102284084451),
 (129, 0.027186362391351845),
 (130, 0.02254174086668581),
 (131, 0.04819626927118799),
 (132, 0.029514066805047763),
 (133, 0.0),
 (134, 0.02208630521496931),
 (135, 0.02068572009460303),
 (136, 0.02068572009460303),
 (137, 0.0975609756097561),
 (138, 0.0681598176590997),
 (139, 0.1530809058942434),
 (140, 0.01853441561005319),
 (141, 0.07575540190785703),
 (142, 0.0685691896140358),
 (143, 0.053567158400558014),
 (144, 0.04462107482531602),
 (145, 0.056099271345321444),
 (146, 0.10166045992028061),
 (147, 0.06659271582120269),
 (148, 0.0),
 (149, 0.028049635672660722),
 (150, 0.02231053741265801),
 (151, 0.07362101738323104),
 (152, 0.1010438990763711),
 (153, 0.03187883565316692),
 (154, 0.022780284450075735),
 (155, 0.06762522260005743),
 (156, 0.05902813361009551),
 (157, 0.056099271345321444),
 (158, 0.042904232014014415),
 (159, 0.03904344047215152),
 (160, 0.17400443716972247),
 (161, 0.05238227218271836),
 (162, 0.047632550822954096),
 (163, 0.02851329742561005),
 (164, 0.08155908717405554),
 (165, 0.11772040233700279),
 (166, 0.0685691896140358),
 (167, 0.070283683977189),
 (168, 0.0),
 (169, 0.11805626722019105),
 (170, 0.09563650695950075),
 (171, 0.0631753972713992),
 (172, 0.052057920629535355),
 (173, 0.10967253752026676),
 (174, 0.09917043796975242),
 (175, 0.07702442489446452),
 (176, 0.08035073760083702),
 (177, 0.05800147905657416),
 (178, 0.08414890701798217),
 (179, 0.0),
 (180, 0.12493900951088487),
 (181, 0.01827875625337779),
 (182, 0.060485837890913385),
 (183, 0.06625891564490793),
 (184, 0.0),
 (185, 0.07362101738323104),
 (186, 0.0791945516022682),
 (187, 0.01546350666114275),
 (188, 0.22439708538128578),
 (189, 0.06435634802102162),
 (190, 0.06512896090258362),
 (191, 0.029514066805047763),
 (192, 0.09417632186960223),
 (193, 0.07407971974871923),
 (194, 0.05723898513889476),
 (195, 0.0),
 (196, 0.06762522260005743),
 (197, 0.0),
 (198, 0.019370971105651495),
 (199, 0.019676044536698505),
 (200, 0.02050661957987655),
 (201, 0.025007816164017767),
 (202, 0.05800147905657416),
 (203, 0.09016696346674324),
 (204, 0.03187883565316692),
 (205, 0.101338918387628),
 (206, 0.03733266964732787),
 (207, 0.0),
 (208, 0.1679970134129754),
 (209, 0.05437272478270369),
 (210, 0.08776207771572381),
 (211, 0.06375767130633384),
 (212, 0.03348716954670953),
 (213, 0.10269923319261937),
 (214, 0.07575540190785703),
 (215, 0.0),
 (216, 0.0),
 (217, 0.030055654488914414),
 (218, 0.09188458377475334),
 (219, 0.05437272478270369),
 (220, 0.026028960314767677),
 (221, 0.0),
 (222, 0.07229440390678199),
 (223, 0.09639253854237598),
 (224, 0.04462107482531602),
 (225, 0.056099271345321444),
 (226, 0.02254174086668581),
 (227, 0.052796367734845466),
 (228, 0.12378237474570462),
 (229, 0.020869596778242055),
 (230, 0.0),
 (231, 0.053567158400558014),
 (232, 0.0),
 (233, 0.021252557102111276),
 (234, 0.0),
 (235, 0.08155908717405554),
 (236, 0.0),
 (237, 0.059028133610095526),
 (238, 0.05800147905657416),
 (239, 0.053567158400558014),
 (240, 0.09016696346674324),
 (241, 0.07407971974871923),
 (242, 0.0),
 (243, 0.12022261795565765),
 (244, 0.05134961659630968),
 (245, 0.0351418419885945),
 (246, 0.02567480829815484),
 (247, 0.0),
 (248, 0.0),
 (249, 0.021252557102111276),
 (250, 0.0),
 (251, 0.09188458377475334),
 (252, 0.026398183867422733),
 (253, 0.05271276298289175),
 (254, 0.02900073952828708),
 (255, 0.025007816164017767),
 (256, 0.050669459193814),
 (257, 0.05134961659630968),
 (258, 0.0),
 (259, 0.023544080467400558),
 (260, 0.08553989227683015),
 (261, 0.050015632328035534),
 (262, 0.06011130897782883),
 (263, 0.02851329742561005),
 (264, 0.020161945963637795),
 (265, 0.02050661957987655),
 (266, 0.03187883565316692),
 (267, 0.050669459193814),
 (268, 0.06659271582120269),
 (269, 0.03492151478847891),
 (270, 0.06693161223797403),
 (271, 0.04819626927118799),
 (272, 0.03787770095392851),
 (273, 0.06693161223797403),
 (274, 0.054100178080045934),
 (275, 0.026783579200279007),
 (276, 0.029514066805047763),
 (277, 0.03256448045129181),
 (278, 0.0),
 (279, 0.026783579200279007),
 (280, 0.02851329742561005),
 (281, 0.026398183867422733),
 (282, 0.029514066805047763),
 (283, 0.03606678538669729),
 (284, 0.026398183867422733),
 (285, 0.19127301391900148),
 (286, 0.06560610252610431),
 (287, 0.09312403943594377),
 (288, 0.09370425713316365),
 (289, 0.08730378697119727),
 (290, 0.028049635672660722),
 (291, 0.05142689221052685),
 (292, 0.0),
 (293, 0.1433148727800037),
 (294, 0.018033392693348645),
 (295, 0.0),
 (296, 0.19127301391900148),
 (297, 0.0),
 (298, 0.07933635037580193),
 (299, 0.0),
 (300, 0.03407990882954985),
 (301, 0.09639253854237598),
 (302, 0.05521576303742327),
 (303, 0.047632550822954096),
 (304, 0.023544080467400558),
 (305, 0.0),
 (306, 0.024390243902439025),
 (307, 0.043314808182421),
 (308, 0.0),
 (309, 0.0),
 (310, 0.09016696346674324),
 (311, 0.06375767130633384),
 (312, 0.06375767130633384),
 (313, 0.08423386302853227),
 (314, 0.06246950475544243),
 (315, 0.08035073760083702),
 (316, 0.11908137705738524),
 (317, 0.025334729596907),
 (318, 0.04066418396811224),
 (319, 0.0),
 (320, 0.030055654488914414),
 (321, 0.0),
 (322, 0.0),
 (323, 0.038447322405439625),
 (324, 0.021252557102111276),
 (325, 0.1359318119567592),
 (326, 0.023026564952925203),
 (327, 0.020161945963637795),
 (328, 0.022780284450075735),
 (329, 0.13391789600139503),
 (330, 0.058112913316954486),
 (331, 0.22086305214969312),
 (332, 0.0),
 (333, 0.043314808182421),
 (334, 0.025334729596907),
 (335, 0.07229440390678199),
 (336, 0.0),
 (337, 0.049386479832479485),
 (338, 0.03787770095392851),
 (339, 0.06375767130633384),
 (340, 0.0),
 (341, 0.0),
 (342, 0.060485837890913385),
 (343, 0.04373740168406954),
 (344, 0.02231053741265801),
 (345, 0.061519858739629646),
 (346, 0.052796367734845466),
 (347, 0.07407971974871923),
 (348, 0.0),
 (349, 0.06125638918316889),
 (350, 0.018801111554573632),
 (351, 0.0),
 (352, 0.02851329742561005),
 (353, 0.021058465757133066),
 (354, 0.07702442489446452),
 (355, 0.08035073760083702),
 (356, 0.047632550822954096),
 (357, 0.03407990882954985),
 (358, 0.0),
 (359, 0.0),
 (360, 0.09877295966495897),
 (361, 0.05134961659630968),
 (362, 0.0),
 (363, 0.0),
 (364, 0.017460757394239454),
 (365, 0.10748615458500278),
 (366, 0.08064778385455118),
 (367, 0.032388929412563196),
 (368, 0.046562019717971886),
 (369, 0.0),
 (370, 0.050015632328035534),
 (371, 0.06375767130633384),
 (372, 0.03187883565316692),
 (373, 0.04819626927118799),
 (374, 0.050669459193814),
 (375, 0.02208630521496931),
 (376, 0.0683408533502272),
 (377, 0.04556056890015147),
 (378, 0.0),
 (379, 0.07502344849205331),
 (380, 0.02231053741265801),
 (381, 0.0),
 (382, 0.0),
 (383, 0.10411584125907071),
 (384, 0.04605312990585041),
 (385, 0.0),
 (386, 0.026398183867422733),
 (387, 0.09188458377475334),
 (388, 0.11155268706329005),
 (389, 0.0),
 (390, 0.02050661957987655),
 (391, 0.06512896090258362),
 (392, 0.02851329742561005),
 (393, 0.059028133610095526),
 (394, 0.02231053741265801),
 (395, 0.023281009858985943),
 (396, 0.024098134635593994),
 (397, 0.0),
 (398, 0.09563650695950075),
 (399, 0.0),
 (400, 0.0),
 (401, 0.025007816164017767),
 (402, 0.0),
 (403, 0.024390243902439025),
 (404, 0.0),
 (405, 0.07144882623443115),
 (406, 0.015027827244457207),
 (407, 0.046562019717971886),
 (408, 0.03582871819500093),
 (409, 0.05521576303742327),
 (410, 0.052796367734845466),
 (411, 0.021452116007007208),
 (412, 0.0),
 (413, 0.04556056890015147),
 (414, 0.03256448045129181),
 (415, 0.1283740414907742),
 (416, 0.025007816164017767),
 (417, 0.027607881518711633),
 (418, 0.0),
 (419, 0.046562019717971886),
 (420, 0.059988003598800424),
 (421, 0.07808688094430304),
 (422, 0.10626278551055637),
 (423, 0.11772040233700279),
 (424, 0.09188458377475334),
 (425, 0.06693161223797403),
 (426, 0.03187883565316692),
 (427, 0.07063224140220167),
 (428, 0.042904232014014415),
 (429, 0.06375767130633384),
 (430, 0.09188458377475334),
 (431, 0.05437272478270369),
 (432, 0.0216574040912105),
 (433, 0.0),
 (434, 0.08571148701754475),
 (435, 0.07575540190785703),
 (436, 0.0),
 (437, 0.049386479832479485),
 (438, 0.052796367734845466),
 (439, 0.050015632328035534),
 (440, 0.025007816164017767),
 (441, 0.030628194591584446),
 (442, 0.0),
 (443, 0.026783579200279007),
 (444, 0.061519858739629646),
 (445, 0.0),
 (446, 0.0),
 (447, 0.05223962422083869),
 (448, 0.0),
 (449, 0.0),
 (450, 0.016462159944159827),
 (451, 0.0410132391597531),
 (452, 0.0),
 (453, 0.0),
 (454, 0.027607881518711633),
 (455, 0.023816275411477048),
 (456, 0.0),
 (457, 0.027607881518711633),
 (458, 0.027607881518711633),
 (459, 0.0),
 (460, 0.07407971974871923),
 (461, 0.05205792062953536),
 (462, 0.047632550822954096),
 (463, 0.0),
 (464, 0.04173919355648411),
 (465, 0.018666334823663935),
 (466, 0.09112113780030294),
 (467, 0.07229440390678199),
 (468, 0.10559273546969093),
 (469, 0.03187883565316692),
 (470, 0.07229440390678199),
 (471, 0.0),
 (472, 0.02050661957987655),
 (473, 0.03329635791060134),
 (474, 0.0),
 (475, 0.028049635672660722),
 (476, 0.0),
 (477, 0.0),
 (478, 0.09188458377475334),
 (479, 0.019370971105651495),
 (480, 0.0),
 (481, 0.04462107482531602),
 (482, 0.06984302957695783),
 (483, 0.11622582663390899),
 (484, 0.0),
 (485, 0.02851329742561005),
 (486, 0.0),
 (487, 0.0),
 (488, 0.0),
 (489, 0.08700221858486124),
 (490, 0.046562019717971886),
 (491, 0.0),
 (492, 0.03582871819500093),
 (493, 0.0),
 (494, 0.0),
 (495, 0.07063224140220167),
 (496, 0.08553989227683015),
 (497, 0.04032389192727559),
 (498, 0.0),
 (499, 0.028049635672660722),
 (500, 0.0),
 (501, 0.0683408533502272),
 (502, 0.0),
 (503, 0.04605312990585041),
 (504, 0.062057160283809094),
 (505, 0.047088160934801115),
 (506, 0.05134961659630968),
 (507, 0.0690796948587756),
 (508, 0.0216574040912105),
 (509, 0.047088160934801115),
 (510, 0.050669459193814),
 (511, 0.126673647984535),
 (512, 0.04211693151426613),
 (513, 0.0),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0336812996921237),
 (518, 0.028049635672660722),
 (519, 0.028049635672660722),
 (520, 0.059028133610095526),
 (521, 0.0),
 (522, 0.0570265948512201),
 (523, 0.052796367734845466),
 (524, 0.052796367734845466),
 (525, 0.09417632186960223),
 (526, 0.09139378126688896),
 (527, 0.06693161223797403),
 (528, 0.052796367734845466),
 (529, 0.019834087593950483),
 (530, 0.02186870084203477),
 (531, 0.03874194221130299),
 (532, 0.04173919355648411),
 (533, 0.0),
 (534, 0.030628194591584446),
 (535, 0.07808688094430304),
 (536, 0.031234752377721216),
 (537, 0.022780284450075735),
 (538, 0.024693239916239743),
 (539, 0.04819626927118799),
 (540, 0.02033209198405612),
 (541, 0.024098134635593994),
 (542, 0.02208630521496931),
 (543, 0.053567158400558014),
 (544, 0.03630966210657986),
 (545, 0.04462107482531602),
 (546, 0.08414890701798217),
 (547, 0.024098134635593994),
 (548, 0.023816275411477048),
 (549, 0.052796367734845466),
 (550, 0.0),
 (551, 0.031234752377721216),
 (552, 0.042904232014014415),
 (553, 0.10748615458500278),
 (554, 0.022780284450075735),
 (555, 0.07702442489446452),
 (556, 0.0),
 (557, 0.0),
 (558, 0.02567480829815484),
 (559, 0.06693161223797403),
 (560, 0.06375767130633384),
 (561, 0.0),
 (562, 0.0),
 (563, 0.031234752377721216),
 (564, 0.023816275411477048),
 (565, 0.02900073952828708),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0),
 (569, 0.0),
 (570, 0.04032389192727559),
 (571, 0.0),
 (572, 0.027607881518711633),
 (573, 0.026028960314767677),
 (574, 0.18376916754950667),
 (575, 0.0410132391597531),
 (576, 0.08035073760083702),
 (577, 0.03492151478847891),
 (578, 0.0),
 (579, 0.2243232584059758),
 (580, 0.1301448015738384),
 (581, 0.0),
 (582, 0.023026564952925203),
 (583, 0.0),
 (584, 0.0),
 (585, 0.025007816164017767),
 (586, 0.018801111554573632),
 (587, 0.0),
 (588, 0.04878048780487805),
 (589, 0.0),
 (590, 0.02567480829815484),
 (591, 0.07362101738323104),
 (592, 0.02900073952828708),
 (593, 0.050015632328035534),
 (594, 0.11219854269064289),
 (595, 0.0),
 (596, 0.0),
 (597, 0.047632550822954096),
 (598, 0.07502344849205331),
 (599, 0.0),
 (600, 0.0),
 (601, 0.0683408533502272),
 (602, 0.06125638918316889),
 (603, 0.03681050869161552),
 (604, 0.0),
 (605, 0.03407990882954985),
 (606, 0.0),
 (607, 0.15617376188860607),
 (608, 0.1230397174792593),
 (609, 0.0649722122736315),
 (610, 0.19127301391900148),
 (611, 0.0),
 (612, 0.0),
 (613, 0.021452116007007208),
 (614, 0.0),
 (615, 0.01815483105328993),
 (616, 0.02900073952828708),
 (617, 0.0),
 (618, 0.06099627595216836),
 (619, 0.0),
 (620, 0.059988003598800424),
 (621, 0.06011130897782883),
 (622, 0.07362101738323104),
 (623, 0.03407990882954985),
 (624, 0.0),
 (625, 0.09112113780030294),
 (626, 0.0),
 (627, 0.0),
 (628, 0.0),
 (629, 0.05902813361009551),
 (630, 0.023281009858985943),
 (631, 0.0),
 (632, 0.0),
 (633, 0.06375767130633384),
 (634, 0.0),
 (635, 0.020869596778242055),
 (636, 0.02851329742561005),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.07808688094430304),
 (641, 0.02900073952828708),
 (642, 0.0820264783195062),
 (643, 0.027607881518711633),
 (644, 0.017246506858208475),
 (645, 0.0),
 (646, 0.0),
 (647, 0.0),
 (648, 0.038447322405439625),
 (649, 0.015168936699355278),
 (650, 0.0),
 (651, 0.02851329742561005),
 (652, 0.0),
 (653, 0.04032389192727559),
 (654, 0.0),
 (655, 0.0),
 (656, 0.03204617977228226),
 (657, 0.023816275411477048),
 (658, 0.021252557102111276),
 (659, 0.021252557102111276),
 (660, 0.03187883565316692),
 (661, 0.047088160934801115),
 (662, 0.08700221858486124),
 (663, 0.026028960314767677),
 (664, 0.058112913316954486),
 (665, 0.1363196353181994),
 (666, 0.030628194591584446),
 (667, 0.03187883565316692),
 (668, 0.0820264783195062),
 (669, 0.0),
 (670, 0.0),
 (671, 0.023816275411477048),
 (672, 0.026398183867422733),
 (673, 0.019834087593950483),
 (674, 0.026028960314767677),
 (675, 0.11270870433342906),
 (676, 0.0),
 (677, 0.0791945516022682),
 (678, 0.019676044536698505),
 (679, 0.022780284450075735),
 (680, 0.04250511420422255),
 (681, 0.1648085632718039),
 (682, 0.0),
 (683, 0.0),
 (684, 0.03681050869161552),
 (685, 0.0),
 (686, 0.076004188790721),
 (687, 0.0),
 (688, 0.024098134635593994),
 (689, 0.026783579200279007),
 (690, 0.01735264020984512),
 (691, 0.01952172023607576),
 (692, 0.10967253752026676),
 (693, 0.017914359097500464),
 (694, 0.03187883565316692),
 (695, 0.0),
 (696, 0.0),
 (697, 0.04556056890015147),
 (698, 0.04250511420422255),
 (699, 0.02567480829815484),
 (700, 0.0),
 (701, 0.061519858739629646),
 (702, 0.0),
 (703, 0.06375767130633384),
 (704, 0.05800147905657416),
 (705, 0.03904344047215152),
 (706, 0.0),
 (707, 0.0),
 (708, 0.026028960314767677),
 (709, 0.10411584125907071),
 (710, 0.031234752377721216),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.05142689221052685),
 (715, 0.0),
 (716, 0.019370971105651495),
 (717, 0.07933635037580193),
 (718, 0.025007816164017767),
 (719, 0.025007816164017767),
 (720, 0.024390243902439025),
 (721, 0.021058465757133066),
 (722, 0.017460757394239454),
 (723, 0.0),
 (724, 0.05681655143089277),
 (725, 0.0),
 (726, 0.02851329742561005),
 (727, 0.0),
 (728, 0.0),
 (729, 0.02900073952828708),
 (730, 0.050818268498635674),
 (731, 0.042904232014014415),
 (732, 0.06099627595216836),
 (733, 0.03492151478847891),
 (734, 0.09016696346674324),
 (735, 0.04878048780487805),
 (736, 0.0),
 (737, 0.06984302957695783),
 (738, 0.0),
 (739, 0.053567158400558014),
 (740, 0.0),
 (741, 0.0),
 (742, 0.0),
 (743, 0.056099271345321444),
 (744, 0.050015632328035534),
 (745, 0.02186870084203477),
 (746, 0.09563650695950075),
 (747, 0.0),
 (748, 0.04373740168406954),
 (749, 0.02900073952828708),
 (750, 0.11997600719760085),
 (751, 0.0),
 (752, 0.03706883122010638),
 (753, 0.052057920629535355),
 (754, 0.02900073952828708),
 (755, 0.0),
 (756, 0.021058465757133066),
 (757, 0.0),
 (758, 0.0),
 (759, 0.02186870084203477),
 (760, 0.0),
 (761, 0.0681598176590997),
 (762, 0.06984302957695782),
 (763, 0.01757092099429725),
 (764, 0.0),
 (765, 0.0),
 (766, 0.047632550822954096),
 (767, 0.03999200239920028),
 (768, 0.04032389192727559),
 (769, 0.0),
 (770, 0.023544080467400558),
 (771, 0.030055654488914414),
 (772, 0.02254174086668581),
 (773, 0.029514066805047763),
 (774, 0.0),
 (775, 0.0),
 (776, 0.0),
 (777, 0.0),
 (778, 0.0850102284084451),
 (779, 0.024098134635593994),
 (780, 0.023816275411477048),
 (781, 0.03256448045129181),
 (782, 0.02851329742561005),
 (783, 0.0),
 (784, 0.027607881518711633),

In [71]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:10]

[(188, 0.22439708538128578),
 (579, 0.2243232584059758),
 (331, 0.22086305214969312),
 (1244, 0.2145211600700721),
 (51, 0.20447945297729914),
 (61, 0.2028756678001723),
 (285, 0.19127301391900148),
 (296, 0.19127301391900148),
 (610, 0.19127301391900148)]

In [72]:
ps.stem('acting')

'act'

In [73]:
def recomm(movie):
    movie_index= df[df['title']==movie].index[0]
    distance = similarity[movie_index]
    movie_list= sorted(list(enumerate(distance)), reverse=True, key=lambda x:x[1])[1:10]
    for i in movie_list:
        # print(i[0])
        print(df.iloc[i[0]].title)
        
    return

In [74]:
recomm('Avatar')

Ender's Game
Aliens vs Predator: Requiem
Battle: Los Angeles
Apollo 18
Jupiter Ascending
Edge of Tomorrow
The Time Machine
Journey 2: The Mysterious Island
The 5th Wave

In [75]:
recomm('Avatar')

Ender's Game
Aliens vs Predator: Requiem
Battle: Los Angeles
Apollo 18
Jupiter Ascending
Edge of Tomorrow
The Time Machine
Journey 2: The Mysterious Island
The 5th Wave

In [76]:
recomm('Batman Begins')

Kung Fu Panda
Kung Fu Panda 2
How to Train Your Dragon 2
Cars 2
Eragon
Now You See Me 2
Back to the Future Part II
The Croods
Foodfight!

In [77]:
df.iloc[579]

movie_id                                                  440
title                             Aliens vs Predator: Requiem
tags        a sequel to 2004' alien vs. predator, the icon...
Name: 1214, dtype: object

In [78]:
df.iloc[579].title

'Aliens vs Predator: Requiem'

In [79]:
df[df['title']=='Avatar']

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [80]:
df[df['title']=='Batman Begins']

,movie_id,title,tags
119,272,Batman Begins,"driven by tragedy, billionair bruce wayn dedic..."

In [81]:
df[df['title']=='Batman Begins'].index

Index([119], dtype='int64')

In [82]:
df.iloc[119].title

'Kung Fu Panda 3'

In [83]:
df.iloc[119]

movie_id                                               140300
title                                         Kung Fu Panda 3
tags        continu hi "legendari adventur of awesomeness"...
Name: 152, dtype: object

In [84]:
import pickle

In [85]:
pickle.dump(df,open('movies1.pkl','wb'))

In [86]:
pickle.dump(df.to_dict(),open('movies1_dict.pkl','wb'))

In [ ]:
df.to_dict()

In [88]:
pickle.dump(similarity,open('similarity1.pkl','wb'))